.card{
color: white;
background-color: black;
margin: 20px;
border-radius: 10px;
padding: 5px;
width: 300px;
}

.botonD {
    color: black;
    background-color: red;
    
}
.botonA {
    color: black;
    background-color: green;
}